@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.customcolor {
    background-color: #E83E8C;
}

body .color {
    color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #707070;
    opacity: 1;
    padding-top: 64px;
    padding-bottom: 64px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content:    center;
    align-items: center;
    background-color: #E83E8C;
    height: 184px;
}

.logo {
    height: 100px;
    weight: 53px;
}

.col {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#cards {
    padding-left: 15%;
    padding-right: 15%;
}

.medios {
    display: flex;
    align-items: center;
    height: 170px;
    padding-left: 10%;
    background-color: #17A2B8;
    color: white;
    font-size: 40px;
    font-weight: bold;
    
}

.iconos {
    height: 68px;
    weight: 36px;
    padding-right: 10%;
    justify-content: space-between;
    
}
