@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.customcolor {
    background-color: #E83E8C;
}

body .color {
    color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #707070;
    opacity: 1;
    padding-top: 64px;
    font-weight: bold;
}

a{
    text-decoration: none;
}